<form [formGroup]="itemForm">
  <c-modal [(visible)]="visible" [backdrop]="'static'">
    <c-modal-header>
      <h5 cModalTitle>تعديل بيانات البند</h5>
      <button cButtonClose (click)="close()"></button>
    </c-modal-header>
    <c-modal-body>
      <div class="mb-3">
        <app-text-input label="اسم البند" placeholder="ادخل اسم البند" formControlName="name" />
      </div>
    </c-modal-body>
    <c-modal-footer>
      <button cButton color="secondary" (click)="close()">الغاء</button>
      <button type="submit" (click)="onSubmit()" [disabled]="itemForm.invalid || isSubmitting"
        class="btn btn-primary  d-flex align-items-center justify-content-center gap-2 px-2 py-2"
        aria-label="تعديل بيانات البند">
        @if(isSubmitting) {
        <c-spinner aria-hidden="true" size="sm"></c-spinner>
        <span class="px-1">جارى حفظ التغيرات</span>
        }
        @else {
        <i class="fa-solid fa-floppy-disk opacity-75"></i>
        <span class="px-1">حفظ التغيرات</span>
        }
      </button>
    </c-modal-footer>
  </c-modal>
</form>