<div class="container-fluid px-0 my-3">
  <div class="row justify-content-center">
    <div class="col-12">
      <!-- عنوان الصفحة -->
      <c-card class="mb-4 border-0 shadow-sm bg-info bg-opacity-10">
        <c-card-body class="d-flex flex-column align-items-center justify-content-center px-3 pt-4 pb-3">
          <span class="fw-bold fs-4 text-info text-center mb-1">إضافة ملف </span>
          <div class="text-secondary text-center small">يرجى تعبئة بيانات الملف بدقة ثم رفع الملف.</div>
        </c-card-body>
      </c-card>

      <form [formGroup]="mediaForm" (ngSubmit)="onSubmit()">
        <c-card class="mb-4 border-0 shadow-sm">
          <c-card-header class="bg-transparent border-0 px-3 pt-3 pb-2">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-photo-film text-info me-2"></i>
              <span class="fw-semibold text-info">بيانات الملف</span>
            </div>
          </c-card-header>
          <c-card-body class="pt-0 pb-3 px-3">
            <div class="row g-3">
              <div class="col-12 col-md-6">
                <app-text-input label="اسم الملف" placeholder="ادخل اسم الملف" formControlName="name" required />
              </div>
              <div class="col-12 col-md-6">
                <app-select-input label="الفئة" formControlName="category" required>
                  <option value="" disabled hidden>اختر الفئة</option>
                  <option value="TamatHadeed">تمام حديد</option>
                  <option value="TamatAsment">تمام اسمنت</option>
                  <option value="Ardh">عرض</option>
                  <option value="MawqefMali">موقف مالى</option>
                  <option value="MawqefTanfidhi">موقف تنفيذى</option>
                  <option value="TawtheeqTanfidh">توثيق التنفيذ</option>

                </app-select-input>
              </div>
              <div class="col-12">
                <app-file-input label="الملف" formControlName="file" accept="image/*,
                        video/*,
                        application/pdf,
                        application/msword,
                        application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                        application/vnd.ms-excel,
                        application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
              </div>
            </div>
          </c-card-body>
        </c-card>

        <!-- زر الحفظ -->
        <c-card class="mb-0 border-0 shadow-sm">
          <c-card-body class="p-4">
            <button type="submit" [disabled]="isSubmitting || mediaForm.invalid"
              class="btn btn-info w-100 rounded-pill fw-semibold d-flex align-items-center justify-content-center gap-2 px-2 py-2"
              aria-label="إضافة وسيلة جديدة">
              @if(isSubmitting) {
              <c-spinner aria-hidden="true" size="sm"></c-spinner>
              @if(isUploadingFile) {
              <span class="px-1">
                جارى رفع الملف
              </span>
              }
              @else {
              <span class="px-1">
                جارى حفظ التغيرات
              </span>
              }
              }
              @else {
              <i class="fa-solid fa-floppy-disk opacity-75 "></i>
              <span class="px-1">حفظ التغيرات</span>
              }
            </button>
          </c-card-body>
        </c-card>
      </form>
    </div>