<section id="execution-status">

  <div class="row g-4 mb-4">
    <div class="col-12">
      <h6 class="text-secondary mb-0">
        <i class="fa-solid fa-clipboard-list text-warning me-2"></i>
        الموقف التنفيذى
      </h6>
    </div>
    <div class="col-12">
      <app-project-execution [projectId]="projectId" />
    </div>

    <div class="col-12">
      <h6 class="text-secondary mb-0">
        <i class="fa-solid fa-layer-group text-danger me-2"></i>
        الاعمال
      </h6>
    </div>

    <app-works [projectId]="projectId" />
  </div>

  <!-- <div class="mb-5">
    <h6 class="text-secondary mb-4">
      <i class="fa-solid fa-table-list text-primary me-2"></i>
      ملخص التنفيذ
    </h6>

    <div class="overflow-auto mt-3">
      <table [bordered]="true" cTable
        class="text-center table table-hover table-bordered align-middle shadow-sm rounded-4 overflow-hidden">
        <thead class="table-secondary">
          <tr>
            <th rowspan="2" class="align-middle">العمل</th>
            <th rowspan="2" class="align-middle">الشركة</th>
            <th colspan="4">نسبة التنفيذ</th>
            <th rowspan="2" class="align-middle">الإجمالي</th>
          </tr>
          <tr>
            <th>الهيكل الخرساني</th>
            <th>الهيكل المعدني</th>
            <th>تركيب الصاج</th>
            <th>التشطيبات</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>هنجر 1</td>
            <td><a [routerLink]="['/companies/4']" class="text-decoration-underline text-primary fw-bold">شركة مصر
                للمقاولات</a></td>
            <td>80%</td>
            <td>50%</td>
            <td>25%</td>
            <td>33%</td>
            <td>47%</td>
          </tr>
          <tr>
            <td>هنجر 2</td>
            <td><a [routerLink]="['/companies/5']" class="text-decoration-underline text-primary fw-bold">شركة النصر
                للإنشاءات</a></td>
            <td>100%</td>
            <td>83%</td>
            <td>75%</td>
            <td>100%</td>
            <td>90%</td>
          </tr>
          <tr>
            <td>هنجر 3</td>
            <td><a [routerLink]="['/companies/6']" class="text-decoration-underline text-primary fw-bold">شركة الرواد
                للمقاولات</a></td>
            <td><span class="text-danger">20%</span></td>
            <td><span class="text-danger">25%</span></td>
            <td><span class="text-danger">10%</span></td>
            <td><span class="text-danger">0%</span></td>
            <td><span class="text-danger">14%</span></td>
          </tr>
          <tr>
            <td>هنجر 4</td>
            <td><a [routerLink]="['/companies/7']" class="text-decoration-underline text-primary fw-bold">شركة
                التعمير</a>
            </td>
            <td>70%</td>
            <td>67%</td>
            <td>60%</td>
            <td>50%</td>
            <td>62%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->

  <!-- عنوان مخطط زمني لجميع الأعمال -->
  <h6 class="text-secondary mb-4">
    <i class="fa-solid fa-chart-line text-warning me-2"></i>
    المخططات البيانية
  </h6>
  <div class="row mb-4">
    <div class="col-12" lg="6">
      <c-card class="mb-4 border-0 shadow-sm rounded-4 bg-white">
        <c-card-header class="bg-white border-0 d-flex align-items-center gap-2">
          <i class="fa-solid fa-chart-bar text-success"></i>
          <span class="fw-bold">نسب تنفيذ الأعمال</span>
          <div class="ms-auto">
            <button type="button" class="btn btn-outline-primary btn-sm me-2"
              [class.active]="compareChartType === 'bar'" (click)="setCompareChartType('bar')">
              أعمدة
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm" [class.active]="compareChartType === 'line'"
              (click)="setCompareChartType('line')">
              خطوط
            </button>
          </div>
        </c-card-header>
        <c-card-body class="p-4">
          @if(compareChartType === 'bar') {
          <c-chart type="bar" [data]="compareChartData" />
          }
          @else {
          <c-chart type="line" [data]="compareChartData" />
          }
        </c-card-body>
      </c-card>
    </div>

    <div class="col-12">
      <c-card class="mb-4 border-0 shadow-sm rounded-4 bg-white">
        <c-card-header class="bg-white border-0 d-flex align-items-center gap-2">
          <i class="fa-solid fa-chart-line text-success me-2"></i>
          <span class="fw-bold">مخطط الأعمال الزمنى</span>
          <div class="ms-auto">
            <button type="button" class="btn btn-outline-primary btn-sm me-2"
              [class.active]="worksTimelineChartType === 'bar'" (click)="setWorksTimelineChartType('bar')">
              أعمدة
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm"
              [class.active]="worksTimelineChartType === 'line'" (click)="setWorksTimelineChartType('line')">
              خطوط
            </button>
          </div>
        </c-card-header>
        <c-card-body class="p-4">
          @if(worksTimelineChartType === 'bar') {
          <c-chart type="bar" [data]="worksTimelineData" />
          }
          @else {
          <c-chart type="line" [data]="worksTimelineData" />
          }
        </c-card-body>
      </c-card>
    </div>

    <div class="col-12" lg="6">
      <c-card class="mb-4 border-0 shadow-sm rounded-4 bg-white">
        <c-card-header class="bg-white border-0 d-flex align-items-center gap-2">
          <i class="fa-solid fa-chart-line text-info"></i>
          <span class="fw-bold">مخطط المشروع الزمنى</span>
          <div class="ms-auto">
            <button type="button" class="btn btn-outline-primary btn-sm me-2"
              [class.active]="projectTimelineChartType === 'bar'" (click)="setProjectTimelineChartType('bar')">
              أعمدة
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm "
              [class.active]="projectTimelineChartType === 'line'" (click)="setProjectTimelineChartType('line')">
              خطوط
            </button>
          </div>
        </c-card-header>
        <c-card-body class="p-4">
          @if(projectTimelineChartType === 'line') {
          <c-chart type="line" [data]="projectTimelineData" />
          }
          @else {
          <c-chart type="bar" [data]="projectTimelineData" />
          }
        </c-card-body>
      </c-card>
    </div>
  </div>

  <app-medias [projectId]="projectId" />

</section>