<section id="basic-details">
  <!-- عنوان تفاصيل المشروع -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h6 class="text-secondary mb-0">
      <i class="fa-solid fa-clipboard-list text-warning me-2"></i>
      تفاصيل المشروع
    </h6>
    <div>
      <button type="button" class="btn btn-danger me-2" (click)="fireDeleteConfirmationModal()">
        @if(isDeleting) {
        <c-spinner aria-hidden="true" size="sm"></c-spinner>
        }
        @else {
        <i class="fa-solid fa-trash"></i>
        }
      </button>
      <button [routerLink]="['/projects', projectId, 'edit']" type="button" class="btn btn-secondary">
        <i class="fa-solid fa-pen"></i>
      </button>
    </div>
  </div>

  <!-- كارد نسبة التنفيذ -->
  <!-- <c-card class="mb-4 shadow-sm border-0 p-2">
    <c-card-body>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h5 class="text-center mb-2 color-success mb-3">المنفذ</h5>
        <app-circular-progress [percent]="project?.executionPercent || 0" color="#31a751" />
        <div class="mt-2 text-muted">
          آخر تحديث: <span dir="ltr">{{(project?.executionDate | date:'dd-MM-yyyy') || '-'}}</span>
        </div>
      </div>
    </c-card-body>
  </c-card> -->

  <c-card class="mb-5 border-0 shadow-sm bg-white rounded-4 position-relative">
    <c-card-body>
      <div class="d-flex flex-column align-items-center justify-content-center p-4">
        <div class="d-flex align-items-center gap-2 mb-3">
          <h5 class="fw-bold text-success mb-0">المنفذ</h5>
        </div>
        <!-- الحالة badge absolute -->
        <c-badge [color]="getExecutionStatusBadgeColor(project?.executionStatus)"
          class=" position-absolute top-0 end-0 m-3 px-3 py-2 shadow-sm" style="z-index:2;">
          {{ (project?.executionStatus | executionStatus) || '-' }}
        </c-badge>
        <div class="mb-3">
          <app-circular-progress [percent]="project?.executionPercent || 0" color="#31a751"
            size="120"></app-circular-progress>
        </div>
        <div class="text-muted d-flex align-items-center gap-1">
          <span>آخر تحديث:</span>
          <span dir="ltr" class="fw-semibold">{{ (project?.executionDate | date:'dd-MM-yyyy') || '-' }}</span>
        </div>
      </div>
    </c-card-body>
  </c-card>

  <!-- كارد معلومات المشروع الأساسية بشكل مقسم إلى بطاقات صغيرة -->
  <div class="row g-3 mb-5">
    <div class="col-12 col-md-6 col-lg-4">
      <c-card class="h-100 shadow-sm border-0 rounded-3">
        <c-card-body class="d-flex align-items-center">
          <i class="fa-solid fa-diagram-project text-primary fs-4 me-3"></i>
          <div>
            <div class="fw-bold">اسم المشروع</div>
            <div class="text-muted small">{{project?.name || 'لا يوجد'}}</div>
          </div>
        </c-card-body>
      </c-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <c-card class="h-100 shadow-sm border-0 rounded-3">
        <c-card-body class="d-flex align-items-center">
          <i class="fa-solid fa-building-columns text-secondary fs-4 me-3"></i>
          <div>
            <div class="fw-bold">الجهة المنفذة</div>
            <div class="text-muted small">{{project?.executingSide || 'لا يوجد'}}</div>
          </div>
        </c-card-body>
      </c-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <c-card class="h-100 shadow-sm border-0 rounded-3">
        <c-card-body class="d-flex align-items-center">
          <i class="fa-solid fa-users text-secondary fs-4 me-3"></i>
          <div>
            <div class="fw-bold">الجهة المستفيدة</div>
            <div class="text-muted small">{{project?.benefitingSide || 'لا يوجد'}}</div>
          </div>
        </c-card-body>
      </c-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <c-card class="h-100 shadow-sm border-0 rounded-3">
        <c-card-body class="d-flex align-items-center">
          <i class="fa-solid fa-coins text-warning fs-4 me-3"></i>
          <div>
            <div class="fw-bold">القيمة التقديرية</div>
            <div class="text-muted small">
              @if(project?.estimatedCost) {
              {{project?.estimatedCost | number}} ج.م
              } @else {
              لا يوجد
              }
            </div>
          </div>
        </c-card-body>
      </c-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <c-card class="h-100 shadow-sm border-0 rounded-3">
        <c-card-body class="d-flex align-items-center">
          <i class="fa-solid fa-wallet text-success fs-4 me-3"></i>
          <div>
            <div class="fw-bold">المخصص المالي</div>
            <div class="text-muted small">
              @if(project?.financialAllocation) {
              {{project?.financialAllocation | number}} ج.م
              } @else {
              لا يوجد
              }
            </div>
          </div>
        </c-card-body>
      </c-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <c-card class="h-100 shadow-sm border-0 rounded-3">
        <c-card-body class="d-flex align-items-center">
          <i class="fa-solid fa-calendar-days text-info fs-4 me-3"></i>
          <div>
            <div class="fw-bold">تاريخ البدء التقديري</div>
            <div class="text-muted small">{{(project?.estimatedStartDate | date:'dd-MM-yyyy') || 'لا يوجد'}}</div>
          </div>
        </c-card-body>
      </c-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <c-card class="h-100 shadow-sm border-0 rounded-3">
        <c-card-body class="d-flex align-items-center">
          <i class="fa-solid fa-calendar-check text-info fs-4 me-3"></i>
          <div>
            <div class="fw-bold">تاريخ الانتهاء التقديري</div>
            <div class="text-muted small">{{(project?.estimatedEndDate | date:'dd-MM-yyyy') || 'لا يوجد'}}</div>
          </div>
        </c-card-body>
      </c-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <c-card class="h-100 shadow-sm border-0 rounded-3">
        <c-card-body class="d-flex align-items-center">
          <i class="fa-solid fa-calendar-days text-success fs-4 me-3"></i>
          <div>
            <div class="fw-bold">تاريخ البدء الفعلي</div>
            <div class="text-muted small">{{(project?.actualStartDate | date:'dd-MM-yyyy') || 'لا يوجد'}}</div>
          </div>
        </c-card-body>
      </c-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <c-card class="h-100 shadow-sm border-0 rounded-3">
        <c-card-body class="d-flex align-items-center">
          <i class="fa-solid fa-calendar-check text-success fs-4 me-3"></i>
          <div>
            <div class="fw-bold">تاريخ الانتهاء الفعلي</div>
            <div class="text-muted small">{{(project?.actualEndDate | date:'dd-MM-yyyy') || 'لا يوجد'}}</div>
          </div>
        </c-card-body>
      </c-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <c-card class="h-100 shadow-sm border-0 rounded-3">
        <c-card-body class="d-flex align-items-center">
          <i class="fa-solid fa-location-dot text-primary fs-4 me-3"></i>
          <div>
            <div class="fw-bold">العنوان</div>
            <div class="text-muted small">
              @if(project?.address) {
              <a href="https://maps.google.com/maps?q={{(project?.latitude && project?.longitude)?`${project?.latitude},${project?.longitude}`: project?.address}}"
                target="_blank" class="text-decoration-underline text-primary">{{(project?.address)}}</a>
              }
              @else {
              لا يوجد
              }
            </div>
          </div>
        </c-card-body>
      </c-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <c-card class="h-100 shadow-sm border-0 rounded-3">
        <c-card-body class="d-flex align-items-center">
          <i class="fa-solid fa-user-shield text-primary fs-4 me-3"></i>
          <div>
            <div class="fw-bold">الضابط المشرف</div>
            <div class="text-muted small"><a [routerLink]="['/officers', project?.supervisor?.id]"
                routerLinkActive="router-link-active"
                class="text-decoration-underline text-primary">{{project?.supervisor?.name || 'لا يوجد'}}</a></div>
          </div>
        </c-card-body>
      </c-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <c-card class="h-100 shadow-sm border-0 rounded-3">
        <c-card-body class="d-flex align-items-center">
          <i class="fa-solid fa-chart-line text-success fs-4 me-3"></i>
          <div>
            <div class="fw-bold">نسبة التنفيذ الكلية</div>
            <div class="text-muted small">{{project?.executionPercent || 0}}%</div>
          </div>
        </c-card-body>
      </c-card>
    </div>
  </div>


  <!-- الموقع على الخريطة -->
  @if(sanitizedMapUrl) {
  <div class="mb-5">
    <h6 class="text-secondary mb-3">
      <i class="fa-solid fa-map-location-dot text-info me-2"></i>
      الموقع على الخريطة
    </h6>
    <div class="ratio ratio-21x9">
      <iframe width="100%" height="100%" loading="lazy" allowfullscreen class="border-0 rounded-3 my-2 shadow-sm"
        referrerpolicy="no-referrer-when-downgrade" [src]="sanitizedMapUrl">
      </iframe>
    </div>
  </div>
  }

  <!-- سكشن الملاحظات -->
  <div class="mb-5">
    <h6 class="text-secondary mb-3">
      <i class="fa-solid fa-note-sticky text-warning me-2"></i>
      الملاحظات
    </h6>
    <c-card class="shadow-sm border-0 rounded-3">
      <c-card-body>
        <div class="text-muted" [innerText]="project?.notes || 'لا توجد ملاحظات حالياً.'" style="min-height: 80px;">
        </div>
      </c-card-body>
    </c-card>
  </div>
</section>

<!-- modals -->
<app-delete-confirmation-modal [(visible)]="deleteConfirmationModalVisible"
  (confirmation)="handleDeleteConfirmationModalChange($event)" />