<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="mb-0">قائمة المشاريع</h6>
          <div class="d-flex align-items-center gap-2">
            <button [color]="'primary'" cButton><i class="fa-solid fa-filter"></i></button>
            <button [color]="'primary'" cButton><i class="fa-solid fa-plus"></i></button>
          </div>
        </div>
      </c-card-header>
      <c-card-body class="overflow-auto">
        <table cTable>
          <thead>
            <tr>
              <th>الملصق</th>
              <th>الاسم</th>
              <th>الجهة المنفذة</th>
              <th>الجهة المستفيدة</th>
              <th>القيمة التقديرية</th>
              <th>المخصص المالي</th>
              <th>تاريخ البدء</th>
              <th>تاريخ الانتهاء</th>
              <th>نسبة التنفيذ</th>
              <th>العنوان</th>
              <th>الحالة</th>
              <th>التفاصيل</th>
              <th>الملاحظات</th>
              <th>الاجراءات</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="https://tse3.mm.bing.net/th/id/OIP.VXqGdlUb4zIdpubRzIrUywHaEK?rs=1&pid=ImgDetMain&o=7&rm=3">
                  <img src="https://tse3.mm.bing.net/th/id/OIP.VXqGdlUb4zIdpubRzIrUywHaEK?rs=1&pid=ImgDetMain&o=7&rm=3"
                    class="table-poster">
                </a>
              </td>
              <td>محور حسب الله</td>
              <td>ادارة المهندسين العسكريين</td>
              <td>وزارة النقل</td>
              <td>١٠٠٬٠٠٠</td>
              <td>٨٠٬٠٠٠</td>
              <td>{{date.toLocaleDateString('ar-EG') }}</td>
              <td>{{date.toLocaleDateString('ar-EG') }}</td>
              <td>
                <c-progress [value]="80" height="16" color="success">
                  80%</c-progress>
              </td>
              <td>
                <a href="https://www.google.com/maps/search/?api=1&query=24.7136,46.6753" target="_blank">١٢٣
                  شارع
                  رئيسي</a>
              </td>
              <td><c-badge class="me-1" color="warning">تحت
                  الانشاء</c-badge></td>
              <td>لا يوجد</td>
              <td>لا يوجد</td>
              <td>
                <div class="d-flex align-items-center gap-2">
                  <a routerLink="/projects/22" [color]="'primary'" cButton><i class="fa-solid fa-eye"></i></a>
                  <a [color]="'secondary'" cButton><i class="fa-solid fa-pen"></i></a>
                  <a [color]="'danger'" cButton (click)="fireDeleteConfirmationModal()"><i
                      class="fa-solid fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a
                  href="https://tse2.mm.bing.net/th/id/OIP.myIE9FGecPDHgEcAKW4xEwHaD4?w=1200&h=630&rs=1&pid=ImgDetMain&o=7&rm=3">
                  <img
                    src="https://tse2.mm.bing.net/th/id/OIP.myIE9FGecPDHgEcAKW4xEwHaD4?w=1200&h=630&rs=1&pid=ImgDetMain&o=7&rm=3"
                    class="table-poster">
                </a>
              </td>
              <td>ممشى اهل مصر</td>
              <td>ادارة المهندسين العسكريين</td>
              <td>وزارة النقل</td>
              <td>٢٠٠٬٠٠٠</td>
              <td>١٥٠٬٠٠٠</td>
              <td>{{date.toLocaleDateString('ar-EG') }}</td>
              <td>{{date.toLocaleDateString('ar-EG') }}</td>
              <td>
                <c-progress [value]="25" height="16" color="danger">
                  {{25}}%</c-progress>
              </td>
              <td>
                <a href="https://www.google.com/maps/search/?api=1&query=24.7136,46.6753" target="_blank">٤٥٦ شارع
                  النخيل</a>
              </td>
              <td><c-badge class="me-1" color="success">مكتمل</c-badge></td>
              <td>لا يوجد</td>
              <td>لا يوجد</td>
              <td>
                <div class="d-flex align-items-center gap-2">
                  <a [color]="'primary'" cButton><i class="fa-solid fa-eye"></i></a>
                  <a [color]="'secondary'" cButton><i class="fa-solid fa-pen"></i></a>
                  <a [color]="'danger'" cButton (click)="fireDeleteConfirmationModal()"><i
                      class="fa-solid fa-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://tse2.mm.bing.net/th/id/OIP.kWMcC_HkoQ4ji9LNnFW91QHaCx?rs=1&pid=ImgDetMain&o=7&rm=3">
                  <img src="https://tse2.mm.bing.net/th/id/OIP.kWMcC_HkoQ4ji9LNnFW91QHaCx?rs=1&pid=ImgDetMain&o=7&rm=3"
                    class="table-poster">
                </a>
              </td>
              <td>الدلتا الجديدة</td>
              <td>ادارة المهندسين العسكريين</td>
              <td>وزارة النقل</td>
              <td>٢٠٠٬٠٠٠</td>
              <td>٨٥٠٬٠٠٠</td>
              <td>{{date.toLocaleDateString('ar-EG') }}</td>
              <td>{{date.toLocaleDateString('ar-EG') }}</td>
              <td>
                <c-progress [value]="50" height="16" color="warning">
                  50%</c-progress>
              </td>
              <td>
                <a href="https://www.google.com/maps/search/?api=1&query=21.3891,39.8579" target="_blank">٤٥٦ شارع
                  النخيل</a>
              </td>
              <td>
                <c-badge class="me-1" color="danger">متوقف</c-badge>
              </td>
              <td>لا يوجد</td>
              <td>لا يوجد</td>
              <td>
                <div class="d-flex align-items-center gap-2">
                  <a [color]="'primary'" cButton><i class="fa-solid fa-eye"></i></a>
                  <a [color]="'secondary'" cButton><i class="fa-solid fa-pen"></i></a>
                  <a [color]="'danger'" cButton (click)="fireDeleteConfirmationModal()"><i
                      class="fa-solid fa-trash"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
      <c-card-footer>
        <div class="d-flex justify-content-center pt-2">
          <app-paginator [totalPages]="10" [(currentPage)]="currentPage" />
        </div>
      </c-card-footer>
    </c-card>
  </c-col>
</c-row>

<!-- modals -->
<app-delete-confirmation-modal [(visible)]="deleteConfirmationModalVisible"
  (confirmation)="handleDeleteConfirmationModalChange($event)" />