<c-card class="mb-4 w-100">
  <c-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <h6 class="mb-0">تفاصيل الضابط محمد عبداللة</h6>
      <div class="d-flex align-items-center gap-2">
        <a [color]="'danger'" cButton><i class="fa-solid fa-trash"></i></a>
        <a [color]="'secondary'" cButton><i class="fa-solid fa-pen"></i></a>
      </div>
    </div>
  </c-card-header>
  <c-card-body>
    <!-- معلومات أساسية -->
    <div class="">
      <h6 class="text-secondary mb-3"><i class="fa-solid fa-info-circle me-2 text-secondary"></i>معلومات أساسية
      </h6>
      <div class="row g-3 mb-2">
        <div class="col-12 col-md-6"><i class="fa-solid fa-user text-primary me-2"></i><strong>الاسم:</strong> محمد عبد
          الله</div>
        <div class="col-12 col-md-6"><i class="fa-solid fa-medal text-warning me-2"></i><strong>الرتبة:</strong> عقيد
        </div>
        <div class="col-12 col-md-6"><i class="fa-solid fa-envelope text-info me-2"></i><strong>البريد
            الإلكتروني:</strong> officer&#64;army.gov.eg</div>
        <div class="col-12 col-md-6"><i class="fa-solid fa-phone text-success me-2"></i><strong>الهاتف:</strong>
          01001112222</div>
        <div class="col-12 col-md-6"><i class="fa-solid fa-calendar-plus text-info me-2"></i><strong>تاريخ
            الانضمام:</strong> 2024-01-01</div>
        <div class="col-12 col-md-6"><i class="fa-solid fa-calendar-minus text-danger me-2"></i><strong>تاريخ
            المغادرة:</strong> 2025-12-31</div>
        <div class="col-12 col-md-6"><i class="fa-solid fa-shield text-success me-2"></i><strong>الحالة:</strong>
          داخل الكتيبة</div>
        <div class="col-12 col-md-6">
          <i class="fa-solid fa-note-sticky text-secondary me-2"></i><strong>ملاحظات:</strong> لايوجد
        </div>
      </div>
    </div>
  </c-card-body>
</c-card>