.project-poster {
    transition: transform .2s ease-in-out;
}

.project-poster:hover {
    transform: scale(1.05);
}

.media-card {
    transition: transform .2s ease-in-out;
}

.media-card:hover {
    transform: scale(1.05);
}