<c-row class="g-4">
  <c-col xl="3" md="6" sm="6">
    <c-widget-stat-f [title]="'عدد المشاريع'" color="primary" padding value="3500">
      <ng-template cTemplateId="widgetIconTemplate">
        <i class="fa-solid fa-diagram-project" style="font-size: 24px;"></i>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col xl="3" md="6" sm="6">
    <c-widget-stat-f [title]="'عدد الشركات'" color="info" padding value="2000">
      <ng-template cTemplateId="widgetIconTemplate">
        <i class="fa-solid fa-building" style="font-size: 24px;"></i>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col xl="3" md="6" sm="6">
    <c-widget-stat-f [title]="'عدد الظباط'" color="warning" padding value="5000">
      <ng-template cTemplateId="widgetIconTemplate">
        <i class="fa-solid fa-star" style="font-size: 24px;"></i>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col xl="3" md="6" sm="6">
    <c-widget-stat-f [title]="'عدد المستخدمين'" color="danger" padding value="4000">
      <ng-template cTemplateId="widgetIconTemplate">
        <i class="fa-solid fa-users" style="font-size: 24px;"></i>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>

<c-row class="my-4">
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        نسب تنفيذ المشاريع
      </c-card-header>
      <c-card-body>
        <c-chart type="bar" [data]="chartBarData" [options]="options" />
      </c-card-body>
    </c-card>
  </c-col>


  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        مخطط زمنى لنسب تنفيذ المشاريع
      </c-card-header>
      <c-card-body>
        <c-chart type="line" [data]="chartLineData" [options]="options" />
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        حالة المشاريع
      </c-card-header>
      <c-card-body>
        <c-chart type="pie" [data]="chartPieData" [options]="options" />
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        حالة الضباط
      </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData" [options]="options" />
      </c-card-body>
    </c-card>
  </c-col>
</c-row>